.checkout {
    display: flex;
    padding: 20px;
    height: max-content;
    background-color: white;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__left {
    margin-right: 10px;
}

.checkout__title {
    text-transform: capitalize;
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid grey;
}

@media(max-width: 480px) {
    .checkout {
        display: grid;
    }

    .checkout__left {
        grid-row-end: 0;
    }

    .checkout__right {
        grid-row-start: 1;
        margin: 0 auto 20px auto;
    }
}