.subtotal {
    border: 1px solid #dddddd;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    border-radius: 3px;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}

.subtotal__gift input {
    margin-right: 5px;
}

.subtotal button {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border: 1px solid;
    color: #111;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}