.minicartItems {
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 5px;
    margin: 5px 0;
    padding: 15px;

    animation: close-response 0s ease-in 3s;
    animation-fill-mode: forwards;
}

@keyframes close-response {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}

.minicartItems__info button {
    height: 25px;
    outline: none;
    background-color: lightgray;
    border: none;
}

.minicartItems__message {
    color: red;
    padding: 5px 0;
}

