.home {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
}

.home__row {
    display: flex;
    z-index: 1;
    margin: 0 5px;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transition: transform 0.5s ease-out;
}

.home__image:hover {
    transform: scale(1.02);
}

.home__minicartItems {
    top: 75px;
    right: 20px;
    position: fixed;
    z-index: 99999;
}

@media(max-width: 480px) {
    .home {
        overflow-x: hidden;
    }

    .home__image {
        margin-bottom: -85px;
    }

    .home__row {
        display: grid;
    }

    .home__image div {
        width: 95vw !important;
        height: 45vh !important;
    }
}