.checkoutProduct {
    display: flex;
    margin: 20px 0;
}

.checkoutProduct__image {
    width: 180px;
    object-fit: contain;
    height: 180px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct button {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border: 1px solid;
    color: #111;
    border-radius: 2px;
    margin-top: 10px;
}

