.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login__logo {
    margin: 20px auto;
    object-fit: contain;
    width: 100px;

}

.login__container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 300px;
    height: fit-content;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container form h5 {
    margin-bottom: 5px;
}

.login__container form input {
    background-color: white;
    height: 30px;
    margin-bottom: 10px;
    width: 98%;
}

.login__container p {
    font-size: 12px;
    margin-top: 15px;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}